.grid-cls {
  border-color: red;
  height: 400px;
}

.custom-grid-header-cls {
  color: #FFF;
}

.grid-column-cls {
  border-width: 0px 1px;
  border-color: #DEDEDE;
  border-style: solid;
  width: 150px;
}
